/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Application styles here */

/* NO SELECT + HIGHLIGHT COLOR */
* {
    user-select: none;
}
*::selection {
    background: none;
}
*::-moz-selection {
    background: none;
}

body {
    overflow: hidden;
    font-family: helvetica, sans-serif;
}

.titleBar {
    -webkit-app-region: drag;
}

.titleBar-title {
    text-align: center;
    line-height: 1.7em;
    font-weight: bold;
}

.titleBar-controls {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
}

.titleBar-controls .btn-minimize,
.titleBar-controls .btn-maximize,
.titleBar-controls .btn-close {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 1.25em;
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.menuBar {
    display: flex;
    flex-direction: row;
}

.menuBar-dropdown {
    display: none;
}

.menuBar-dropdown[data-open="true"] {
    display: block;
    position: absolute;
}

.btn-menuBar-menu {
    display: block;
    padding: 8px 12px 8px 12px;
}

.btn-submenu-item {
    display: block;
    padding: 8px 12px 8px 12px;
}

.btn-primary, .btn-secondary {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px 24px 12px 24px;
}

.btn-primary.centered, .btn-secondary.centered {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.object-selection-ribbon {
    height: 64px;
}

.object-selection-ribbon-flex {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.main-view-flex {
    display: flex;
    flex-direction: row;
}

.sidebar-left, .sidebar-right {
    height: 100vh;
}

.sidebar-left {
    width: 192px;
}

.container-fields-padding {
    padding: 4px;
}

.container-fields-group {
    margin-bottom: 32px;
}

.sidebar-fields-heading {
    line-height: 1.7em;
    font-weight: bold;
}

.input-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 4px;
}

#canvas-container {
    width: calc(100% - 193px);
}

.sidebar-tool-icon {
    width: 36px;
    height: 36px;
}

.win-title-bar {
    width: 100%;
    font-family: 'ubuntu-serif', sans-serif;
}

.win-title-bar-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.win-title-bar-padding {
    width: calc(100% - 48px);
}

.win-title-bar-window-controls {
    display: flex;
    flex-direction: row-reverse;
    width: 48px;
}

.win-btn {
    line-height: 1.5em;
    border-radius: 12px;
    text-align: center;
}

.win-btn-close {
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

h1.win-heading, h2.win-heading, h3.win-heading {
    line-height: 1.75em;
}

h1.win-heading {
    font-size: 1.5em;
    font-weight: bold;
}

h2.win-heading {
    font-size: 1.375em;
    font-weight: bold;
}

h3.win-heading {
    font-size: 1.25em;
    font-weight: bold;
}

h1.win-heading.centered, h2.win-heading.centered, h3.win-heading.centered {
    text-align: center;
}

p.centered {
    text-align: center;
}

.win-container-content-padding {
    padding: 16px 24px 16px 24px;
}
