body {
  background-image: url(img/sprBgTransparencyDark.png);
}

.menustrip {
  background: #333333;
}

.btn-menuitem {
  color: #89898A;
}

.btn-menuitem:hover {
  color: #CCCCCC;
  background: #474748;
}

.menuitem-content {
  background: #252526;
}

.menuitem-content a {
  color: #CCCCCC;
}

.menuitem-content a:hover {
  color: white;
  background: #094771;
}

.statusstrip-bottom {
  color: #CCCCCC;
  background: #333333;
}

.statusstrip-bottom input[type="text"] {
  color: white;
  background: #292929;
  border: 1px solid #292929;
}

.in-app-window-content-wrapper {
  background: #1e1e1e;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 2px solid #222;
}

.in-app-window-content-padding {
  padding: 32px;
}

.in-app-window-titlebar {
  width: 100%;
  height: 32px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  background: #333333;
}

.in-app-window-title {
  color: white;
  text-align: center;
}

.btn-in-app-window-close {
  position: relative;
  display: inline-block;
  top: -16px;
  left: calc(100% - 30px);
  width: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: #909090;
}

.btn-in-app-window-close:hover {
  color: white;
  background: #d61424;
}

.btn-primary {
  color: #ffffff;
  background: #333333;
}

.btn-primary:hover {
  background: #094771;
}

.input-form {
  padding-top: 8px;
  padding-bottom: 8px;
}

.input-form-scrollbox {
  color: white;
}

.txtfield {
  width: 100%;
  color: white;
  background: #292929;
  padding: 8px 4px 8px 4px;
  border: 1px solid #292929;
}

.txtfield:active {
  border: 1px solid #135784;
}

.heading-l {
  font-size: 2.5em;
}

.heading-m {
  font-size: 1.75em;
}

.heading-s {
  font-size: 1.25em;
}

.heading-l, .heading-m, .heading-s {
  font-weight: bold;
  color: white;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

p {
  color: #929292;
}

.iframe-fixture-selector {
  background: #292929;
}