<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Physics Shaper</title>
        <link rel="stylesheet" type="text/css" href="../styles/common.css" />
    </head>

    <body>
        <div class="object-selection-ribbon">
            <div class="object-selection-ribbon-flex">

            </div>
        </div>
        <div class="main-view-flex">
            <div class="sidebar-left">
                <div class="sidebar-left-tools">
                    <span id="btn-new-object"><img class="sidebar-tool-icon" src="../assets/imgIconNewObject.png" alt="New object" /></span>
                    <span id="btn-add-fixture"><img class="sidebar-tool-icon" src="../assets/imgIconAddFixture.png" alt="Add fixture" /></span>
                </div>
            </div>
            <div id="canvas-container"></div>
            <div class="sidebar-right"></div>
        </div>
        <script src="../app/phaser.min.js"></script>
        <script src="../app/functions.js"></script>
        <script src="../app/ui.js"></script>
        <script src="../app/main.js"></script>
    </body>
</html>
